.. _{{key.replace(' ', '_')}}:

{{title if title is defined else 'Missing title'}}
{{'=' * (title | length)}}
{% set _jinja_key = _jinja_key[-1] %}

.. |readcube import| image:: https://app.readcube.com/favicon.ico
   :target: https://www.readcube.com/library/import?doi={{doi}}
   :width: 16

* DOI: `{{doi}} <https://doi.org/{{doi}}>`__ |readcube import|
* Patients: {{patients.get('n', 'unknown')}} (positive: {{patients.get('positive', 'unknown')}}, negative: {{patients.get('negative', 'unknown')}})
* Samples: {{samples.get('n', 'unknown')}} (positive: {{samples.get('positive', 'unknown')}}, negative: {{samples.get('negative', 'unknown')}})
* Assay: {{assay}}
* Level of quantification: {{loq or 'unknown'}} log10 gc per mL
* `View data <https://github.com/tillahoffmann/shedding/blob/master/publications/{{_jinja_key}}/{{_jinja_key}}.json>`__
